# **Lab: Model Serving**

## Exercise 2: EDA and Baseline Model

In this exercise we will start our data science project by preparing the dataset for modeling.

The steps are:
1.   Setup Environment
2.   Load and explore dataset
3.   Split Dataset
4.   Get Baseline model
5.   Push changes

### 1. Setup Environment

**[1.1]** Go to a folder of your choice on your computer (where you store projects)

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
# cd /Users/anthonyso/Projects/adv_mla_2025/

**[1.2]** Copy the cookiecutter data science template

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
ccds

Follow the prompt (name the project and repo adv_mla_lab_3)

**[1.3]** Go inside the created folder `adv_mla_lab_3`

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
cd adv_mla_lab_3

**[1.4]** Initialise the repo

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git init

**[1.5]** Login into Github with your account (https://github.com/) and create a public repo with the name `adv_mla_lab_3`

**[1.6]** In your local repo `adv_mla_lab_3`, link it with Github (replace the url with your username)

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git remote add origin git@github.com:<username>/adv_mla_lab_3

**[1.7]** Set the python version to 3.11.4 with pyenv

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
pyenv local 3.11.4

**[1.8]** Initialise poetry project with python==~3.11 and no dependencies installed

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution
poetry init

**[1.9]** Install with poetry the following packages:
```
scikit-learn==1.5.1
pandas==2.2.2
jupyterlab==4.2.3
```

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution
poetry add jupyterlab==4.2.3 pandas==2.2.2 scikit-learn==1.5.1

**[1.10]** Download the dataset into the sub-folder data/raw (https://github.com/aso-uts/labs_datasets/raw/main/36120-adv_mla/lab03/archive.zip)

In [ ]:
# For Windows users, you can download and install WGET. Or you can manually download the file from the link and save it to specified path
wget -P ~/Projects/adv_mla_2024/adv_mla_lab_3/data/raw https://github.com/aso-uts/labs_datasets/raw/main/36120-adv_mla/lab03/archive.zip

**[1.11]** Add you changes to git staging area, commit and push them to Github

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git add .
git commit -m "init"
git push --set-upstream origin main

**[1.12]** Preventing push to `main` branch

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution
git config branch.main.pushRemote no_push

**[1.13]** Create a new git branch called `data_prep`

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git checkout -b data_prep

### 2.   Load and Explore Dataset

**[2.1]** Launch Jupyter Lab from your virtual environment

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
#Solution:
poetry run jupyter lab

**[2.2]** Navigate the folder `notebooks` and create a new jupyter notebook called `1_baseline.ipynb`

**[2.3]** Launch magic commands to automatically reload modules

In [ ]:
# Placeholder for student's code (Python code)

In [1]:
# Solution
%load_ext autoreload
%autoreload 2

**[2.4]** Install your custom package with pip

In [2]:
# Placeholder for student's code (Python code)

In [3]:
# Solution
! pip install -i https://test.pypi.org/simple/ my-krml-149874

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: my-krml-149874 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (2024.0.1.5)
Requirement already satisfied: pandas==2.2.2 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from my-krml-149874) (2.2.2)
Requirement already satisfied: scikit-learn==1.5.1 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from my-krml-149874) (1.5.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-149874) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-149874) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-149874) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-149874) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from scikit-learn==1.5.1->my-krml-149874) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from scikit-learn==1.5.1->my-krml-149874) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from scikit-learn==1.5.1->my-krml-149874) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\thinkpad\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-3-6b00khh0-py3.11\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->my-krml-149874) (1.17.0)

**[2.5]** Import the pandas and numpy packages

In [4]:
# Placeholder for student's code (Python code)

In [5]:
# Solution
import pandas as pd
import numpy as np

**[2.6]** Load the dataset into a dataframe called `df`

In [6]:
# Placeholder for student's code (Python code)

In [7]:
# Solution:
df = pd.read_csv('../data/raw/archive.zip')

**[2.7]** Display the first 5 rows of `df`

In [8]:
# Placeholder for student's code (Python code)

In [9]:
# Solution
df.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

**[2.8]** Display the dimensions of `df`

In [10]:
# Placeholder for student's code (Python code)

In [11]:
# Solution
df.shape

(308854, 19)

**[2.9]** Display the summary (info) of `df`

In [12]:
# Placeholder for student's code (Python code)

In [13]:
# Solution
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

**[2.10]** Display the descriptive statistics of `df`

In [14]:
# Placeholder for student's code (Python code)

In [15]:
# Solution
df.describe()

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
count,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000
mean,170.615249,83.588655,28.626211,5.096366,29.835200,15.110441,6.296616
std,10.658026,21.343210,6.522323,8.199763,24.875735,14.926238,8.582954
min,91.000000,24.950000,12.020000,0.000000,0.000000,0.000000,0.000000
25%,163.000000,68.040000,24.210000,0.000000,12.000000,4.000000,2.000000
50%,170.000000,81.650000,27.440000,1.000000,30.000000,12.000000,4.000000
75%,178.000000,95.250000,31.850000,6.000000,30.000000,20.000000,8.000000
max,241.000000,293.020000,99.330000,30.000000,120.000000,128.000000,128.000000

### 3. Split Dataset

**[3.1]** Create a copy of `df` and save it into a variable called `df_cleaned`

In [16]:
# Placeholder for student's code (Python code)

In [17]:
# Solution
df_cleaned = df.copy()

**[3.2]** Convert the values of `Heart_Disease` into numerical type and save the results in a variable called `target`

In [18]:
# Placeholder for student's code (Python code)

In [19]:
# Solution:
target = df_cleaned.pop('Heart_Disease')
target = target.map({'Yes': 1, 'No': 0})

**[3.3]** Import the function `split_sets_random` from your custom package and split the data into several sets as Numpy arrays

In [20]:
# Placeholder for student's code (Python code)

In [21]:
# Solution
from my_krml_149874.data.sets import split_sets_random

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target, test_ratio=0.2)

**[3.4]** Import the function `save_sets` from your custom package and save the sets into the folder `data/processed`

In [22]:
# Placeholder for student's code (Python code)

In [23]:
# Solution
from my_krml_149874.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

### 4. Baseline Model

**[4.1]** Import the DummyClassifier module from sklearn

In [24]:
# Placeholder for student's code (Python code)

In [25]:
# Solution:
from sklearn.dummy import DummyClassifier

**[4.2]** Instantiate a `DummyClassifier` and save it into a variable called `base_model`

In [26]:
# Placeholder for student's code (Python code)

In [27]:
# Solution:
base_model = DummyClassifier(strategy='most_frequent')

**[4.3]** Make a prediction using `fit_predict()` and save the results in a variable called `y_base`

In [28]:
# Placeholder for student's code (Python code)

In [29]:
# Solution:
base_model.fit(X_train, y_train)
y_base = base_model.predict(y_train)

**[4.4]** Import the function `print_classifier_scores` from your custom package and display the Accuracy and F1 scores of this baseline model on the training set

In [30]:
# Placeholder for student's code (Python code)

In [31]:
from my_krml_149874.models.performance import print_classifier_scores

print_classifier_scores(y_preds=y_base, y_actuals=y_train, set_name='Training')

Accuracy Training: 0.9196112502158522
F1 Training: 0.0

### 5.   Push changes

**[5.1]** Add you changes to git staging area

In [32]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git add .

**[5.2]** Create the snapshot of your repository and add a description

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git commit -m "data prep"

**[5.3]** Push your snapshot to Github

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git push --set-upstream origin data_prep

**[5.4]** Go to Github and merge the branch after reviewing the code and fixing any conflict

**[5.5]** Check out to the master branch

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git checkout master

**[5.6]** Pull the latest updates

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git pull